{% extends 'django_level_five/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>please login</h1>
    <form action="{% url 'django_level_five:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter your user name">
        <label for="password">password</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}